*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {background-color: white;
    margin: 0%;
    padding: 0%;
    width: 100pt;
    overflow-x: hidden; 
flex-wrap: wrap;

}
.uga {
    background-image: url(IMAGES/ELEPHANT.jpg);
    font-size: 40px;
    color: white;
    height: 500px;
    background-size: 100% auto;
    object-fit: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 50px;
} 
.tri { background-image: url(IMAGES/ELEPHANT.jpg);
    height: 400px; 
    object-fit: cover;
    background-size: cover;
    font-size: 30px;
    text-align: center;
    color: white;}
    .dd { background-color: aliceblue;
    border: 1px solid;}
    .day1 {background-color: azure;
    padding-left: 15px;}
    .mmm {background-color: bisque;
    padding-left: 15px;
    border: 1px solid;}
    .nn { color: green;}
    .details {border: 1px solid;
    margin-bottom: 20px;
    word-wrap: break-word;
    word-spacing: 5px;
    font-size: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px;
    }
    .bbb { color: rgb(158, 189, 189);
    backface-visibility: auto;
    background-color: rgb(34, 33, 33);
    padding-left: 17px;
    border: 1px solid;}
    .day5 {background-color: rgb(208, 214, 214);
    padding-left: 17px;
    font-size: 20px;
    border: 1px solid;}
    .day4 {font-size: 17px;
    border: 1px solid;
    padding-left: 15px;}
    .day6 {font-size: 17px;
    border: 1px solid;
    padding-left: 15px;}
    .day7 { font-size: 17px;
    border: 1px solid;
    padding-left: 15px;}
    .day8 { font-size: 17px;
    border: 1px solid;
    padding-left: 15px;}
    .day9 { font-size: 20px;
    border: 1px solid;
    padding-left: 15px; background: scroll;}
    .day10 {padding-left: 15px;
    font-size: 17px;
    background-color: aliceblue;
    border: 1px solid;}
    .day11 {font-size: 17px;
    padding-left: 15px;
    border: 1px solid;}
    .day12 {font-size: 17px;
    padding-left: 15px;
    border: 1px solid;
    background-color: aliceblue;}
    .day13 { font-size: 17px;
    padding-left: 15px;
    border: 1px solid;}
    .day14 {font-size: 17px;
    background-color: aliceblue;
    padding-left: 15px;
    border: 1px solid;}
    
    .day15 { font-size: 17px;
    padding-left: 15px;
    border: 1px solid;}
    .day16 {font-size: 17px;
    padding-left: 15px;
    background-color: aliceblue;
    border: 1px solid;}
    .day17 {font-size: 17px;
    padding-left: 15px;
    border: 1px solid;}
    .day18 { font-size: 17px;
    border: 1px solid;
    background-color: aliceblue; 
    padding-left: 15px;}
    .price { border: 3px lightblue solid;
    box-shadow: 0rem 2rem 6rem;
    margin-top: 20px;
    border-radius: 1rem;
    margin-bottom: 20px;
    width: 50%;}
    .pax1 {
    background-color: white;
    padding: 1rem;
    border-radius:  5px;}
    .pax2 {
    padding: 1rem;
    border-radius: 1rem;}
    .pax3 {
    padding: 1rem;
    background-color: bisque;}
    .pax4  {
    padding: 1rem;
    }
    .pax5 {
    padding: 1rem;
    background-color: bisque;
    }
    .pax6 { 
    padding: 1rem;
    
    }
    .link {display: flex;
    flex-direction: row;
    justify-content: space-between;}
    
    .inn {
        font-size: 30px;
        margin-left: 20%;
        color: aquamarine;
        margin-top: 30px;
        
    }
    .book {font-size: 2opx;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;}
.excludes {
    font-size: 0px;
    font-weight: lighter;
    background-color:  rgb(48, 73, 73);
    padding-left: 15px;
    border: 2px lightgreen solid;
    box-shadow: 0 8px 10px;
    padding: 1rem 2rem;
    margin: 2rem;
    color: white;
    border-radius: 10px;
    margin-bottom: 40px;
    word-spacing: 5px;
    width: fit-content;
}

.pone {
    font-size: 30px;
    color: aqua;
    padding-top: 15px;
}

.pac {
    color: rgb(75, 78, 77);
    font-size: 30px;

    

}

.form {
    border: 2px solid rgb(235, 122, 122);
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgb(144, 230, 16);
    background-color: rgb(194, 216, 236);
    margin-top: 30px;

    

}



