  .img {
    background-image: url(IMAGES/ELEPHANT.jpg); 
    background-size: cover;
     height: 500px;
    
    }
        .EX {font-weight: bold;font-size: 60px;
        color: rgb(114, 24, 24);
        display:flex;
        justify-content: center;
    margin-inline-start: 2PX;}
           .EA {font-weight: bold;
            font-size: 50px; 
            color: rgb(37, 22, 37);
            display:flex;
            justify-content: center;
    margin-inline-start: 2PX;
    font-size: 40px;} 

    .home { font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;}

    .quick {color:rgb(240, 240, 217);}
    .mom {
        color: white;
        font-size: 30px;
        justify-content: center;
margin: 20px;
        border: 1PX;
        box-shadow: 0 4PX 8PX;
        background-color: green;
        width: 18rem;
        padding: 3px;
        border-radius: 1rem;
    }
    #view {
        text-align: center;

    }
    img {
        width: 700px;
        height: 500px;
    }
    