*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.abo{
    background-color: aquamarine;
}

body {background-color: white;
    margin: 0%;
    padding: 0%;
    width: 100vw;
    overflow-x: hidden; 
flex-wrap: wrap;

}
.PACKAGE{
    margin: 1rem auto;
    width: 70vw;
    border: 2px solid lightblue;
    
}
.panel{
    display: none;
    padding: 0 1rem;
    color: rgb(1, 14, 9);
    background-color: aliceblue;
    
}
.panel p{
    font-size: 20px;
    margin: 1rem;
}
.day,.day3,.da5,.day7 {
    font-size: 20px;
    color:  rgb(48, 73, 73);
    border-bottom: 1px solid brown;
    position: relative;
    cursor: pointer;
    padding: .5rem 1rem;
    background-color:  #fff;
}
.day2,.day4,.day6{
    font-size: 20px;
    cursor: pointer;
    color: rgb(2, 73, 73);
    border-bottom: 1px solid brown;
    position: relative;
    padding: .5rem 1rem;
    background-color: rgb(184, 181, 233);
}
.day-1,.day-2, .day-3,.day-4,.day-5,.day-6,.day-7 {
    padding: .5rem 1rem;
    display: none;
}
.day-1,.day-2, .day-3,.day-4,.day-5,.day-6,.day-7 p {
    font-size: 20px;
}
@media (max-width :768px)
{
    .PACKAGE{
        width: 90VW;
    }
    #ex1 {
        
        width: 80vw;
    }
}
.classic:hover {
    background-color: rgb(153, 153, 161);
}
.days-7{
    background-image: url(IMAGES/Bwindi_Impenetrable_National_Park_033@2x.jpg);
    height: 25rem;
    background-repeat: no-repeat;
    width: 100% auto;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 6rem 6rem;
    color: #fff;
    font-size: 2rem;
    
    object-fit: cover;
}
input[type="checkbox"]{
    height: 2rem;
    position: relative;
    right: 7rem;
}

   .for label{
    position: absolute;
    margin-left: 3rem;
       
   } 
  .CONTACT form{
    margin: 1rem auto;
   }
   .CONTACT b{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
   }
   .grey {

    color: green;
    
}
input::placeholder {
    color: green;
    font-size: 1.2rem;
}
textarea::placehold
er {
    color: #ffffff;
}
