*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.PACKAGE{
    margin: 1rem auto;
    width: 70vw;
    border: 2px solid lightblue;
    
}
.panel{
    display: none;
    padding: 0 1rem;
    color: rgb(1, 14, 9);
    background-color: aliceblue;
    
}
.panel p{
    font-size: 20px;
    margin: 1rem;
}
.day,.day3,.da5,.day7 {
    font-size: 20px;
    color:  rgb(48, 73, 73);
    border-bottom: 1px solid brown;
    position: relative;
    cursor: pointer;
    padding: .5rem 1rem;
    background-color:  #fff;
}
.day2,.day4,.day6{
    font-size: 20px;
    cursor: pointer;
    color: rgb(2, 73, 73);
    border-bottom: 1px solid brown;
    position: relative;
    padding: .5rem 1rem;
    background-color: rgb(184, 181, 233);
}
.day-1,.day-2, .day-3,.day-4,.day-5,.day-6,.day-7 {
    padding: .5rem 1rem;
    display: none;
}
.day-1,.day-2, .day-3,.day-4,.day-5,.day-6,.day-7 p {
    font-size: 20px;
}
@media (max-width :768px)
{
    .PACKAGE{
        width: 90VW;
    }
    #ex1 {
        
        width: 80vw;
    }
}
.classic:hover {
    background-color: rgb(153, 153, 161);
}
.days-7{
    background-image: url(IMAGES/Bwindi_Impenetrable_National_Park_033@2x.jpg);
    height: 25rem;
    background-repeat: no-repeat;
    width: 100% auto;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 6rem 6rem;
    color: #fff;
    font-size: 2rem;
    
    object-fit: cover;
}
input[type="checkbox"]{
    height: 2rem;
    position: relative;
    right: 7rem;
}

   .for label{
    position: absolute;
    margin-left: 3rem;
       
   } 
   .CONTACT b{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
   }
   .grey {

    color: green;
    
}
input::placeholder {
    color: green;
    font-size: 1.2rem;
}
textarea::placehold
er {
    color: #ffffff;
}
.uga {
    background-image: url(IMAGES/ELEPHANT.jpg);
    font-size: 40px;
    color: white;
    height: 500px;
    background-size: 100% auto;
    object-fit: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 50px;
} 
.tri { background-image: url(IMAGES/ELEPHANT.jpg);
    height: 400px; 
    object-fit: cover;
    background-size: cover;
    font-size: 30px;
    text-align: center;
    color: white;}
    .dd { background-color: aliceblue;
    border: 1px solid;}
    .day1 {background-color: azure;
    padding-left: 15px;}
    .mmm {background-color: bisque;
    padding-left: 15px;
    border: 1px solid;}
    .nn { color: green;}
    .details {border: 1px solid;
    margin-bottom: 20px;
    word-wrap: break-word;
    word-spacing: 5px;
    font-size: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 8px;
    }
    .bbb { color: rgb(158, 189, 189);
    backface-visibility: auto;
    background-color: rgb(34, 33, 33);
    padding-left: 17px;
    border: 1px solid;}
    .day5 {background-color: rgb(208, 214, 214);
    padding-left: 17px;
    font-size: 20px;
    border: 1px solid;}
    .day4 {font-size: 17px;
    border: 1px solid;
    padding-left: 15px;}
    .day6 {font-size: 17px;
    border: 1px solid;
    padding-left: 15px;}
    .day7 { font-size: 17px;
    border: 1px solid;
    padding-left: 15px;}
    .day8 { font-size: 17px;
    border: 1px solid;
    padding-left: 15px;}
    .day9 { font-size: 20px;
    border: 1px solid;
    padding-left: 15px; background: scroll;}
    .day10 {padding-left: 15px;
    font-size: 17px;
    background-color: aliceblue;
    border: 1px solid;}
    .day11 {font-size: 17px;
    padding-left: 15px;
    border: 1px solid;}
    .day12 {font-size: 17px;
    padding-left: 15px;
    border: 1px solid;
    background-color: aliceblue;}
    .day13 { font-size: 17px;
    padding-left: 15px;
    border: 1px solid;}
    .day14 {font-size: 17px;
    background-color: aliceblue;
    padding-left: 15px;
    border: 1px solid;}
    
    .day15 { font-size: 17px;
    padding-left: 15px;
    border: 1px solid;}
    .day16 {font-size: 17px;
    padding-left: 15px;
    background-color: aliceblue;
    border: 1px solid;}
    .day17 {font-size: 17px;
    padding-left: 15px;
    border: 1px solid;}
    .day18 { font-size: 17px;
    border: 1px solid;
    background-color: aliceblue; 
    padding-left: 15px;}
    .price { border: 3px lightblue solid;
    box-shadow: 0rem 2rem 6rem;
    margin-top: 20px;
    border-radius: 1rem;
    margin-bottom: 20px;
    width: 50%;}
    .pax1 {
    background-color: white;
    padding: 1rem;
    border-radius:  5px;}
    .pax2 {
    padding: 1rem;
    border-radius: 1rem;}
    .pax3 {
    padding: 1rem;
    background-color: bisque;}
    .pax4  {
    padding: 1rem;
    }
    .pax5 {
    padding: 1rem;
    background-color: bisque;
    }
    .pax6 { 
    padding: 1rem;
    
    }
    .link {display: flex;
    flex-direction: row;
    justify-content: space-between;}
    
    .inn {
        font-size: 30px;
        margin-left: 20%;
        color: aquamarine;
        margin-top: 30px;
        
    }
    .book {font-size: 2opx;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;}